.container{
    width: 100%;
    display: grid;
    grid-template-columns:50% 50%;
}

.childcomp{
    width:100%;
    padding: 10px;
    background-color: aqua;
}
.headercontent{
    text-align: center;
    padding: 30px;
    width: 100%;
    border: 1px solid black;
}